<h1>To Do List!</h1>
<form class="add-todo" action="/addTodo" method="POST">
  <input type="text" placeholder="Add Todo Item" name="description" value="">
  <button type="submit" name="button">Add Todo</button>
</form>

<ul>
  {{#each todos}}
  <li>{{description}}</li>
  {{/each}}
</ul>
